body{
    font-family: 'Open Sans', sans-serif;
    max-width: 50em;
    margin: 0 auto;
    color: #333;
    background-color: white;
}

p {
    margin: 0;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#paper-title {
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#authors{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.author {
    margin-right: 0.6em;
    font-weight: 600;
    color: #666;
    font-size: large;
    text-decoration: none;
}

.author:hover {
    text-decoration: underline;
}

#authors .author:last-child {
    margin-right: 0;
}

.author sup {
    font-size: small;
    font-weight: normal;
    color: #999;
}

#affiliations {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.affiliation {
    margin-right: 0.6em;
    font-size: medium;
    color: #333;
}

#affiliations .affiliation:last-child {
    margin-right: 0;
}

.affiliation sup {
    font-size: small;
    font-weight: normal;
    color: #999;
}

#conference-name {
    margin-top: 1em;
    font-size: medium;
    font-weight: bold;
    color: #333;
    text-align: center;
}

#social-buttons {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.social-button {
    margin-right: 1.6em;
    font-size: medium;
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #333;
    padding: 0.3em 1.8em;
    border-radius: 0.6em;
    cursor: pointer;
}

.social-button:hover {
    box-shadow: 0 0 0 0.1em #333;
}

.social-button:last-child {
    margin-right: 0;
}

.social-button i {
    margin-right: 0.4em;
}

#tldr-container {
    margin-top: 2em;
    text-align: center;
    font-style: italic;
}

#tldr-first {
    font-weight: bold;
}

.section-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    font-size: x-large;
    font-weight: bold;
}

.section-sub-header {
    font-size: larger;
    font-weight: bold;
    align-self: normal;
    margin-top: 2em;
}

.section-text {
    margin-top: 1em;
}

.section-text a {
    color: #333;
}

.section-image {
    margin-top: 2em;
    max-width: 100%;
    margin-bottom: 1em;
}

.section-image:last-child {
    margin-bottom: 2em;
}

.section-video {
    margin-top: 1em;
    max-width: 100%;
}

#canvas-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: min(800px, 100vw);
    height: 500px;
    background-color: rgb(235, 236, 225);
    align-items: center;
    font-size: xx-large;
}

.lil-gui.root.autoPlace {
    position: absolute;
    right: 0px;
}

.citation-container {
    background-color: #f8f8f8;
    padding: 1em 1em 0.3em 1em;
    margin-top: 1em;
    max-height: 200px;
    max-width: -webkit-fill-available;
    overflow: auto;
}

.citation-container pre,
.citation-container code {
    margin: 0;
    padding: 0;
    white-space: pre;
    line-height: 1.5;
}

#website-inspiration {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
    font-size: small;
}

#website-inspiration a {
    color: #333;
}